.Faixa-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25%;
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(28, 228, 143, 0) 50%,
      rgba(129, 229, 187, 0) 75%,
      #e6e6e6 100%
    ),
    linear-gradient(180deg, #1ce48f 0%, #e6e6e6 100%);
  p {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    text-align: center;

    color: #202020;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 80%;
  }
  .image {
    width: 50%;
    height: 50%;
  }
  .logo {
    width: 50%;
  }
}
.Faixa-2 {
  height: 100vh;
  background: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.03em;
    color: #202020;
    flex: none;
    order: 0;
    flex-grow: 0;
    span {
      background: linear-gradient(90deg, #202020 17.58%, #1ce48f 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  button {
    flex-direction: row;
    padding: 1em 1.5em;
    background: rgba(204, 204, 204, 0.25);
    border: 2px solid #cccccc;
    border-radius: 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: rgba(28, 228, 143, 0.25);
      border: 2px solid #1ce48f;
      transform: scale(1.05);
    }
  }
}
.Faixa-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 5%;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #e6e6e6 0%, #ffffff 100%);
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 5em 10%;
  }
}
.pic3{
  width: 100%;
  height: 100%;
  object-fit: cover;  
}