.container {
  margin-top: 2em;
  width: 50vw;
  position: relative;
  .fade-left,
  .fade-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px; // Ajuste o tamanho do blur lateral
    z-index: 10;
    pointer-events: none; // Não bloqueia cliques
  }

  .fade-left {
    left: 0;
    background: linear-gradient(to right, #e6e6e6, rgba(255, 255, 255, 0));
  }

  .fade-right {
    right: 0;
    background: linear-gradient(to left, #e6e6e6, rgba(255, 255, 255, 0));
  }
  .card {
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    text-align: start;
    div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      text-align: start;
      img {
        height: 120px;
        object-fit: contain;
      }

      h2 {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 600;
      }

      p {
        margin-top: 6px;
        font-size: 14px;
        color: #666;
      }

      button {
        padding: 0.5em 1em;
        margin-top: 1em;
        width: 70%;
        background: rgba(204, 204, 204, 0.25);
        border: 1px solid #cccccc;
        border-radius: .5em;
        cursor: pointer;
      }
    }
  }
}
